Django==3.1.6
django-heroku==0.3.1
djangorestframework==3.12.2
fingerprint-enhancer==0.0.11
gunicorn==20.0.4
matplotlib==3.1.1
numpy==1.18.1
opencv-contrib-python-headless==4.5.1.48
scikit-image==0.15.0
urllib3==1.24.2
